{% extends "base.html" %} 

{% block content %}	
    <div id="Content">
    	<div id='show_notice_message'></div>
    	<div id='main_area'>
    		<div class='container-fluid'>
    			<div class='row-fluid'>
    				<div class='span1'></div>
    				<div class='span3'>
    					{% block friends_area %} {% endblock %}
    				</div>
    				<div class='span6'>
    					{% block message_area %} {% endblock %}
    				</div>
    				<div class='span2'></div>
    			</div>
    		</div>
      </div> 
    </div>
{% endblock %}

{% block hidden_modal %}
	{% if member_login %}
    	<input type='hidden' id='check_login' value="True" />
    	<input type='hidden' id='member_login_username' value="{{member_login.user.username}}" />
	{% else %}
    	<input type='hidden' id='check_login' value='False'>
	{% endif %}
	{% if member_chat %}
		<input type='hidden' id='member_chat_username' value="{{member_chat.user.username}}"/>
	{% endif %}
	<input type='hidden' id='total_friend' value='{{friends|length}}' />
</div>

{% endblock %}

