{% extends "message_template/message_base.html" %}

{% block script %}
<script>
	var friends_autocomplete_data = {{friends_autocomplete_data|safe}}
</script>
<link rel="stylesheet" href="{{STATIC_URL}}css/app/message.css" type="text/css" />
<script type="text/javascript" src="{{STATIC_URL}}js/app/message/function.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/app/message/main.js"></script>
{% endblock %}

{% block comet_js_function %}
	<script type='text/javascript'>
        function update_data(data) {
            update_notify(data);
            if (data['msg_content']) {
            	console.log('co')
            	chat(data);
            }
        }
    </script>
{% endblock %}

{% block friends_area %}
<div id='friends_area'>
	<div class='friends-area-action'>
		<div class='friends-search'>
			<input type='text' id='search_friend_query' size='27' placeholder="Search friends">
		</div>
	</div>
	<div class='friends-area-header'>
		<h4> Friends </h4>
	</div>
	<div class='friends-area-body'>
		<ul class='friend-list-data'>
			{% for friend in friends %}
				<li class='friend-item-data'>
					<a href='/messages/{{friend.user.username}}' >
						<img src='{{MEDIA_URL}}{{friend.avatar}}' width=50 height=50>
						{{friend.user.first_name}} {{friend.user.last_name}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}


{% block message_area %}
<div id='message_area'>
	{% if messages %}
		<div id='message_main_display'>
			<ul class='message-list-data'>
				{% for message in messages %}
					<li class='message-item-data' > 
						<div class='message-member'>
							<p>
								<a href='/{{message.member_send.user.username}}'>
									<div class='message-member-avatar'>
										<img src='{{MEDIA_URL}}{{message.member_send.avatar}}' width=25 height=25> 
									</div>
									<div class='message-member-name'>
										<h4>
											{{message.member_send.user.first_name}} {{message.member_send.user.last_name}}
										</h4>
									</div>
								</a>
							</p>
						</div>
						<div class='message-content'>
								{{message.content_html|safe}}
						</div>
						<div class='message-date'>
							<p><small>{{message.elapse_time}}</small></p>
						</div>
						<hr>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<div id='no_message_notice'>
			<ul>
				<p>
					You and <a href='/{{member_chat.user.username}}' >{{member_chat.user.first_name}} {{member_chat.user.last_name}}</a> currently have no conversation
				</p>
			</ul>
		</div>
	{% endif %}
	<div id='chat_area'>
		<ul>
			<textarea id='chat_box'></textarea>
			<a href='#chat_box' id='reply_btn' class='pull-right btn btn-primary'>Reply</a>
		</ul>
	</div>
</div>
{% endblock %}